[submodule "skills_repo"]
	path = skills_repo
	url = https://github.com/GGCryptoh/jarvis_inc_skills.git
[submodule "marketplace"]
	path = marketplace
	url = https://github.com/GGCryptoh/jarvis_inc_marketplace.git
